@model ProductCreateViewModel


@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success!</strong> @TempData["AlertMessage"]
    </div>
}
<div class="container">
    <h1>Add New Product</h1>
    <form asp-action="Create" asp-controller="Product" method="post">
        <div class="form-group">
            <label asp-for="Product.ProductName">Product Name:</label>
            <input asp-for="Product.ProductName" class="form-control" />
            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.ProductDescription">Product Description:</label>
            <textarea asp-for="Product.ProductDescription" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Product.Price">Price:</label>
            <input asp-for="Product.Price" type="number" step="0.01" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Product.ProductImageUrl">Product Image Url (Optional):</label>
            <input asp-for="Product.ProductImageUrl" class="form-control" />
            <span asp-validation-for="Product.ProductImageUrl" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between align-items-center my-4">
            <div class="form-group">
                <label asp-for="Product.CategoryId">Category:</label>
                <select asp-for="Product.CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>
                    }
                </select>
            </div>
            <a asp-controller="Category" asp-action="NewCategory" class="btn btn-primary btn-green">New Category</a>
        </div>
        <button type="submit" value="Create" class="btn btn-primary">Create Product</button>
    </form>
</div>
