@model ProductListViewModel

<div class="container">
    <div class="d-flex justify-content-between align-items-center my-4">
        <h1 class="mb-0">@Model.CurrentCategory</h1>
        @if (TempData["ProductCreated"] != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> @TempData["ProductCreated"]
            </div>
        }
        @if (TempData["ProductDeleted"] != null)
        {
            <div class="alert alert-warning">
                <strong>Success!</strong> @TempData["ProductDeleted"]
            </div>
        }
        <a style="background-color:forestgreen" asp-controller="Product" asp-action="Create" class="btn btn-primary">Add new product</a>
    </div>
    <div class="row">
        @foreach (var product in Model.Products)
        {
            <partial name="PartialViews/_ProductCard" model="product"></partial>
        }
    </div>
</div>

