@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       data-toggle="dropdown"
       href="#"
       role="button"
       data-bs-toggle="dropdown"
       id="nav-dropdown"
       aria-expanded="false">
        Filter By Category
    </a>
    <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Product" asp-action="ProductList"
                   asp-route-category="@category.CategoryName"
                   class="dropdown-item">
                    @category.CategoryName
                </a>
            </li>
        }
        <li>
            <a asp-controller="Product" asp-action="ProductList" asp-route-Category="" class="dropdown-item">All products</a>
        </li>
    </ul>
</li>